<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Información del Registro</title>
</head>
<body>
    <header>
        <div class="tituloVista">
            <div class="imgLogo" >
                <img class="imgLogo" src="/img/logo.jpg" alt="">
            </div>
            <h1>Información del Registro</h1>
        </div>
       
    </header>
    <main>
        <p>ID: <%= registro.id %></p>
        <p>Nombre: <%= registro.nombre %></p>
        <p>Descripción: <%= registro.descripcion %></p>
        <p>Departamento: <%= registro.departamento %></p>
        <h2>Código QR</h2>
        <img src="<%= qrCodeURL %>" alt="Código QR" style="width: 100px; height: 100px;">
    </main>
</body>
</html>